name: build and deploy garden services

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

concurrency:
  group: Deploy
  cancel-in-progress: true

env:
  VERSION: 0.0.8
  REST_IMAGE: ghcr.io/${{ github.repository }}/rest-api

jobs:
  build-and-push-images:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Log in to GHCR
      run: |
        echo ${{ secrets.GH_PAT }} | docker login --username ${{ github.actor }} ghcr.io --password-stdin

    - name: Build and Push REST API
      run: |
        docker build --tag ${{ env.REST_IMAGE }}:latest --tag ${{ env.REST_IMAGE }}:${{ env.VERSION }} -f rest_api/Dockerfile rest_api
        docker push ${{ env.REST_IMAGE }}:${{ env.VERSION }}

  deploy-to-ec2:
    needs: build-and-push-images
    name: Deploy to EC2
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Copy files and pull images on EC2
        env:
            PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
            HOSTNAME: ${{ secrets.EC2_PUBLIC_IP_ADDRESS}}
            USER_NAME: ${{secrets.EC_USER}}
            IMAGE_REST: ${{ env.REST_IMAGE }}
        run: |
          echo "$PRIVATE_KEY" > private_key && chmod 600 private_key
          ssh -o StrictHostKeyChecking=no -i private_key ${USER_NAME}@${HOSTNAME} "
          echo ${{ secrets.GH_PAT }} | docker login --username ${{ github.actor }} ghcr.io --password-stdin
          docker pull ${{ env.IMAGE_REST }}:${{ env.VERSION }}
          # Aquí podrías agregar comandos para reiniciar los contenedores si fuera necesario
          # cd /path/to/project && docker-compose pull && docker-compose up -d
          "
